{
  "users": [
    {
      "email": "seu-email@exemplo.com",
      "password": "sua-senha-criptografada",
      "name": "Seu Nome",
      "role": "admin"
    },
    {
      "email": "outro-usuario@exemplo.com",
      "password": "outra-senha-criptografada",
      "name": "Outro Usuário",
      "role": "user"
    }
  ],
  "api": {
    "sendMessageUrl": "https://sua-api.com/webhook/enviar-mensagem"
  }
}
